#expresss {
    height: 50px;
    /* width: 344px; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 29px;
    /* background: black;
     */
    background: #201e1e;
    color: #ff8c00;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;

}

.history-button {}

.history-button-btn {
    border: none;
    color: transparent;
    background: transparent;

    color: rgb(147, 129, 129);
    font-size: 20px;
    font-weight: 600;
}


.allkeys {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid;
    border-top: transparent;
    padding: 15px;
    height: 300px;
    justify-content: space-evenly;
    /* background: linear-gradient(#e66465, #9198e5);
     */
    background-color: black;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row1 {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
}

.ui {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    width: 300px;



}

.answer {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;


}

.resultexpression {
    display: flex;
    justify-content: end;
    background: #201e1e;
    /* background-color: black; */


}

input {
    background: #201e1e;

    z-index: 999;
    border: none;
    /* background-color: black; */
    color: rgb(222, 48, 48);
}

#resultt {
    display: flex;
    align-items: end;
    height: 30px;
    width: 200px;
    text-align: end;
    font-weight: 700;
    font-size: 35px;
    /* border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: 1px solid black; */
}

.cal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 5px grey;
}

.turnred {
    color: red !important;
}

.equals_express {
    font-size: 25px !important;
}

.equals_result {
    font-size: 32px !important;

}

.history-show {
    /* font-size: 30px; */

    display: block;
}

.history-button-btn-show {}

input:active {
    background: #201e1e;
    border: transparent;
    
    /* border: none; */
}